.dashboard {
    overflow: overlay;
    width: 100%;
    height: 100%;
    max-width: 1320px;
    max-height: 850px;
    padding: 50px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dashboard--top-wrap,
.dashboard--bottom-wrap {
    display: flex;
    flex: 1;
    gap: 10px;
}

.dashboard--top-wrap {
    max-height: 250px;
}

.dashboard--content {
    padding: 20px;
    border-radius: 15px;
    background-color: #36393f;
    min-height: 200px;
}

.dashboard--content h4 {
    font-size: 17px;
}

.dashboard--content ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
}

.dashboard--item {
    list-style: none;
    font-size: 15px;
}

.dashboard--item .item-title {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 15px;
}

.dashboard--item .item-content {
    font-size: 12px;
    color: gray;
}

.dashboard--content.todo {
    flex: 1;
}

.dashboard--content.alarm {
    flex: 1;
}

.dashboard--content.calendar {
    flex: 2.5;
    min-height: 350px;
}

.dashboard--content.upcoming {
    flex: 1.5;
}

.dashboard--content.link {
    min-height: 150px;
    flex: 1;
}

.todo-completed {
    font-size: 12px;
    color: #ff3737;
}

.dashboard--content .add {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin-left: 2px;
    font-size: 20px;
    font-weight: bold;
    color: #B2B9C7;
    border-radius: 50%;
    transition: .25s;
    cursor: pointer;
}

.create-link-box {
    margin-top: 20px;
}

.create-link-box input {
    padding: 5px;
    width: 20em;
    height: 4em;
    border-radius: 1rem;
    border: 2px solid #f5f5f7;
}

.create-link-box button {
    position: absolute;
    bottom: 10%;
    right: 8%;
    background-color: #3F3C6D;
    color: white;
    cursor: pointer;
    width: 100px;
    padding: 8px;
    border-radius: .5rem;
    text-align: center;
}

@media screen and (min-width: 0px) and (max-width: 1340px) {
    .dashboard {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media screen and (min-height: 0px) and (max-height: 870px) {
    .dashboard {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media screen and (min-width: 0px) and (max-width: 850px) {
    .dashboard,
    .dashboard--top-wrap,
    .dashboard--bottom-wrap {
        flex-direction: column;
        max-height: none;
    }
}