.sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 100%;
    width: 60px;
    background-color: #15133C;
    text-align: left;
    border-right: 4px solid #3F3C6D;
    z-index: 3;
}

.sidebar--tcp {
    width: 50px;
    height: 50px;
    padding: 10px;
    cursor: pointer;
}

.sidebar ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.sidebar li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 15px;
    font-size: 20px;
    font-weight: bold;
    background-color: var(--team-color);
    transition: .25s;
    cursor: pointer;
}

.sidebar li:hover {
    background-color: rgba(255, 255, 255, .2);
}

.sidebar li a {
    color: white;
}

.sidebar--plus {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    padding: 12px;
}
