@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

.Todo {
    width: 100%;
    height: 100%;
    background-color: white;
}

.Todo-title-div {
    height: 60px;
    line-height: 60px;
}

.Todo-title {
    margin-left: 1.5em;
    font-size: 2em;
    font-family: 'Noto Sans KR', sans-serif;
}

.Todo-content-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Todo-content {
    /* background-color: #F5F5F5; */
    width: 55em;
    height: 55em;
    border-radius: 20px;
    position: relative;
}

.Todo-content-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.Todo-content-completed {
    font-size: 16px;
    color: #ACACAC;
    cursor: pointer;
}

.Todo-content-new {
    position: absolute;
    cursor: pointer;
    right: 20px;
}

.Todo-content-title {
    margin: 20px;
    display: inline-block;
    /* color: #ACACAC; */
}

.Todo-content-list {
    /* background-color: #F5F5F5; */
    border-radius: 20px;
    width: 520px;
    height: 465px;
    margin: 0 auto;
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding: 10px;
    overflow: auto;
}

.Todo-content-list-line {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    transition: box-shadow 300ms ease-in-out, transform 300ms ease-in-out;
    width: 400px;
    padding: 20px;
    margin: 0 auto;
    font-size: 1.5em;
    border-radius: 20px;
    cursor: pointer;
}

.Todo-content-list-line:hover {
    box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.75);
}

.Todo-content-list-line-todo {
    display: inline-block;
    width: 300px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    overflow: hidden;
}

.Todo-content-list-line-date {
    font-size: 4px;
    display: inline-block;
    width: 300px;
    text-overflow: ellipsis;
}

.Todo-content-list-line-complete {
    width: 100px;
    color: red;
}

.mytodo-root {
    font-size: 15px;
    font-family: 'Noto Sans KR', sans-serif;
}

.mytodo-title {
    font-size: 23px;
}

.mytodo-ul {
    list-style: none;
    margin-top: 40px;
}

.mytodo-li {
    height: 6em;
    display: flex;
    align-items: center;
}

.mytodo-li-1,
.mytodo-li-3 {
    height: 6em;
    display: flex;
    align-items: center;
}

.mytodo-li-2 {
    height: 10em;
    display: flex;
    align-items: center;
}

.mytodo-span {
    font-size: 17px;
    color: #5c636b;
}

.mytodo-input {
    position: absolute;
    right: 2%;
    padding: 5px;
    width: 40em;
    height: 4em;
    border-radius: 1rem;
    border: 2px solid #f5f5f7;
}

.mytodo-input:focus { 
    outline: none; 
}

.mytodo-textarea {
    position: absolute;
    right: 0;
    right: 2%;
    width: 40em;
    height: 8em;
    padding: 5px;
    border: 2px solid #f5f5f7;
    border-radius: 1rem;
    resize: none;
}

.mytodo-textarea:focus {
    resize: none;
    outline: none; 
}


.mytodo-button-div {
    display: flex;
    position: absolute;
    right: 10px;
    margin-top: 30px;
}

.mytodo-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mytodo-button {
    background-color: #f7f7f7;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .5rem;
}   

.mytodo-button > svg {
    transform: scale(0.8);
}

.modal-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-title {
    margin: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    width: 300px;
}

.modal-btn {
    color: orange;
    border-radius: 20px;
    font-size: 1.6em;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.modal-btn:disabled {
    opacity: 0.5;
}

.modal-info {
    display: flex;
    justify-content: space-between;
}

.modal-nickname {
    margin-right: 20px;
}

.modal-content {
    width: 358px;
    font-size: 1.8em;
    white-space: normal;
    word-break: break-all;
    padding: 10px;
}

.mytodo-button-cancel {
    color: #5c636b;
    cursor: pointer;
    width: 100px;
    padding: 8px;
    border-radius: .5rem;
    text-align: center;
}

.mytodo-button-submit {
    background-color: #3F3C6D;
    color: white;
    cursor: pointer;
    width: 100px;
    padding: 8px;
    border-radius: .5rem;
    text-align: center;
}