.community_container{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 50px 0;
    height: 100%;
}

.title{
    text-align: left;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    display: inline-block;
    font-size: 4em;
}

.board--card{
    padding: 25px 30px;
    height: 258px;
}

.community--main{
    display: flex;
    /* height: 100%; */
}

/* .board::before{
    content: '\00a0';
    font-size: 50px;
    border-radius: 0px 50px 50px 0px;
    background-color: aqua;
    position: absolute;
    left: 0;
} */

.board{
    /* margin: 1em auto; */
    border: 1px solid #CDCDCD;
    /* display: flex; */
    align-items: center;
    height: 378px;
    position: relative;
    width: 410px;
    cursor: pointer;
}

.board--img{
    width: 100%;
    height: 120px;
}

.board-root{
    display: flex;
    gap: 30px;
    margin: 20px auto;
    flex-wrap: wrap;
    width: 1290px;
}

.board--title--line{
    display: flex;
    justify-content: space-between;
    height: 27px;
    line-height: 27px;
}

.board--sub--line{
    display: flex;
    align-items: center;
    height: 27px;
    line-height: 27px;
    color: #979797;
}

.board--title{
    display: inline;
    font-size: 1.7em;
    font-weight: normal;
    text-overflow: ellipsis;
    /* margin-left: 3em; */
    white-space: nowrap;
    overflow: hidden;
}

.board--recruit{
    color: #CDCDCD;
    font-size:1.6em;
    margin: 1em;
    white-space: nowrap;
    position: absolute;
    right: 8em;
}

.board--nick{
    margin-right: 15px;
    font-size: 1.3em;
}

.board--content{
    font-size: 1.6em;
    margin-top: 10px;
    height: 110px;
}

.board--date{
    text-align: right;
    color: #CDCDCD;
    font-size: 1.6em;
    /* margin-right: 0.8em;
    margin-left: 5em; */
    white-space: nowrap;
    /* right: 0;
    position: absolute; */
}

.community-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.writePost{
    display: inline;
    margin-top: 4em;
}

@media screen and (max-width: 1380px){
    .board{
        margin: 1em auto;
        width: 1000px;
    }
    
    .board::before{
        content: '\00a0';
        font-size: 48px;
        border-radius: 0px 50px 50px 0px;
        background-color: aqua;
        position: absolute;
        left: 0;
    }

    .board--title{
        display: inline;
        font-size: 1.6em;
        font-weight: normal;
        text-overflow: ellipsis;
        margin-left: 2em;
        white-space: nowrap;
        overflow: hidden;
    }

    .board--recruit{
        font-size:1.6em;
        margin: 0.75em;
        white-space: nowrap;
        position: absolute;
        right: 8em;
    }

    .board--date{
        font-size: 1.6em;
        margin-right: 0.8em;
        margin-left: 3.5em;
        white-space: nowrap;
        right: 0;
        position: absolute;
    }
}