.Post-div{
    padding-top: 50px;
}

.input-title{
    width: 100%;
    height: 50px;
    padding-left: 10px;
}

.post-sub{
    font-size: 2em;
    margin-top: 2em;
    text-align: left;
    margin-bottom: 0.5em;
}

.post-div-short{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 4.5em;
    margin-bottom: 1.5em;
}

.post-sub-short{
    font-size: 2em;
    text-align: left;
    width: 90px;
    display: inline-block;
}

.input-title-short{
    width: 200px;
    height: 50px;
    padding-left: 10px;
}

.Post-title{
    margin-top: calc(2.5em - 50px);
    margin-bottom: 0.5em;
    font-size: 4em;
}

.Post-title-div{
    width: 70%;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
}

.Post-div > .ck.ck-reset.ck-editor.ck-rounded-corners > .ck.ck-editor__main > .ck.ck-content.ck-editor__editable.ck-rounded-corners.ck-editor__editable_inline{
    height: 500px;
}

.Post-div > .ck.ck-reset.ck-editor.ck-rounded-corners{
    width: 70%;
    margin: 20px auto 0px auto;
}

.Post-div > .ck.ck-reset.ck-editor.ck-rounded-corners > .ck.ck-editor__main{
    height: 500px;
}

.Post-btn-div{
    display: flex;
    gap: 10px;
    position: absolute;
    margin-top: 30px;
    right: 230px;
}

.Post-btn-div button{
    background-color: #EC994B;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    width: 120px;
    height: 40px;
    margin-bottom: 30px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}