@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');


.sideAndSide{
    display: flex;
    height: calc(100% - 50px);
}
.calendar_sidebar--chaticon{
    margin-top: 10px;
    width: 25px;
    height: 25px;
}
.calendar-root{
    height: 100%;
}
.calendar {
    margin-left: 320px;
    margin-top: 90px;
    width: 1100px;
    height: 600px;
}
