.chatting-channel{
    color: black;
    font-size: 3em;
}
.chatting-chat-div{
    margin-top: 50px;
    height: 70%;
    overflow: scroll;
}
.chatting-chat-div::-webkit-scrollbar{
    display: none;
}
.chatting-div{
    display: flex;
    width: 100%;
    height: 100%;
}
.chatting-main-div{
    padding-top: 10em;
    padding-left: 30em;
    width: 100%;
    height: 100%;
}
.chatting-userIcon{
    border-radius: 20px;
    background-color: red;
    width: 38px;
    height: 40px;
}
.chatting-speechBubble{
    max-width: 600px;
    margin-top: 15px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-left: 0.8em;
    padding: 0.2em;
    font-size: 2em;
    background-color: #3F3C6D;
    color: white;
    position: relative;
}
.chatting-speechBubble::before{
    content: '';
    border-top: 13px solid #3F3C6D;
    border-left: 17px solid transparent;
    position: absolute;
    left: -12px;
    top: 0;
}
.user-chatting{
    display: flex;
    margin-top: 3em;
    margin-left: 2em;
}
.chatting-input{
    display: flex;
    align-items: center;
    margin: 60px auto;
    width: 800px;
    height: 45px;
    background-color: #3F3C6D;
    border-radius: 20px;
}
.chatting-input--input{
    border-radius: 20px;
    width: 100%;
    height: 100%;
    background-color: #3F3C6D;
    border: none;
    color: white;
    padding-left: 1em;
}
.chatting-input--img{
    margin-right: 1.5em;
    width: 2.5em;
    height: 2.5em;
}
.chatting-input--input::placeholder{
    color: #B2B9C7;
}
.chatting-input--input:focus{
    outline: none;
}

@media screen and (min-width: 0px) and (max-height: 700px) {
    .chatting-chat-div{
        height: 63%;
    }
}

.chatting-select{
    border-radius: 1000px;
    margin: 10px;
    width: 50px;
    height: 50px;
    background-color: #EC994B;
}