.makeProject-root{
    width: 100%;
    height: 100%;
    font-family: 'Noto Sans KR', sans-serif;
}
.makeProject-div{
    position: absolute;
    top: 10%;
    left: 8em;
}
.makeProject-flex{
    display: flex;
    flex-direction: column;
    margin-left: 44em;   
}
.makeProject-title{
    font-size: 30px;
}
.makeProject-subtitle{
    margin-top: 2em;
    font-size: 25px;
    font-weight: 500;
    width: 300px;
}
.makeProject-table{
    margin-top: 4em;
    font-size: 15px;
    display: flex;
    flex-direction: column;
}

.makeProject-td{
    margin-bottom: 10px;
}

.makeProject-input, .makeProject-textarea{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid lightgray;
}
.makeProject-input{
    border-radius: 5px;
    padding-left: 5px;
    height: 40px;
    width: 631px;
}
.makeProject-input:focus{
    outline: none;
}
.makeProject-input-date{
    border-radius: 5px;
    padding-left: 5px;
    height: 40px;
    width: 200px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid lightgray;
}
.makeProject-input-date:focus{
    outline: none;
}
.makeProject-input-date-div{
    margin-bottom: 30px;
}

.makeProject-tr{
    margin-bottom: 30px;
}

.makeProject-textarea{
    width: 400px;
    border-radius: 5px;
    padding: 5px;
    height: 150px;
}
.makeProject-button{
    width: 200px;
    height: 40px;
    border: none;
    background-color: #EC994B;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    margin-left: 11em;
    margin-top: 3em;
    margin-bottom: 2em;
}
.makeproject-modal{
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    position:absolute;
    width: 350px;
    height: 150px;
    background-color: white;
    border: none;
    top: 35%;
    left: 50%;
    z-index: 2;
}
.makeproject-modal-button{
    width: 100px;
    background-color: #EC994B;
    border-radius: 10px;
    border: none;
    color: white;
    margin-top: 10px;
    height: 25px;
}
.project-dark{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    background-color: #00000088;
}
.makeproject-modal-p{
    margin-bottom: 5px;
}
@media screen and (min-width:0px) and (max-width: 1300px) {
    .makeProject-flex{
        margin-left: 22em;
    }
}

.makeProject-tr > .ck.ck-reset.ck-editor.ck-rounded-corners > .ck.ck-editor__main > .ck.ck-content.ck-editor__editable.ck-rounded-corners.ck-editor__editable_inline{
    height: 400px;
}

.makeProject-tr > .ck.ck-reset.ck-editor.ck-rounded-corners{
    width: 100%;
    margin: 20px auto 0 auto;
}

.makeProject-tr > .ck.ck-reset.ck-editor.ck-rounded-corners > .ck.ck-editor__main{
    height: 400px;
}