.MyTeam-div{
    height: calc(100% - 50px);
    padding-top: 50px;
    padding: 50px 20px 0 20px;
}

.MyTeam-teamList{
    display: flex;
    gap: 10px;
}

.MyTeam-div h1{
    margin: 20px;
}

.teamList-div{
    border-radius: 20px;
    border: 1px solid black;
    width: 300px;
    height: 200px;
    padding: 10px;
}

.teamList-div h2{
    margin: 50px 0px 10px 0px;
    font-size: 2em;
}

.teamList-div-deadline{
    font-size: 1.2em;
}

.teamList-span{
    gap: 5;
}