.navbar{
    display: flex;
    height: 50px;
    width: stretch;
    justify-content: right;
    align-items: center;
    background-color: #15133C;
    border-bottom: 4px solid #3F3C6D;
    position: fixed;
}
.navbar--speech{
    width: 30px;
    height: 30px;
    margin-right: 20px;
}
.navbar--notebook{
    width: 30px;
    height: 30px;
    margin-right: 20px;
}
.navbar--username{
    color: white;
    font-size: 20px;
    margin-right: 20px;
}
.navbar--input{
    margin-right: 20px;
    background-color: #3F3C6D;
    border-radius: 20px;
    width: 300px;
    height: 35px;
    border: none;
    outline: none;
    color: white;
    padding-left: 8px;
}
.navbar--person{
    margin-right: 20px;
}
