.side-bar {
    position: fixed;
    margin-left: 60px;
    margin-top: 50px;
    width: 190px;
    height: -webkit-fill-available;
    background-color: #15133C;
    box-shadow: 5px 5px 5px #00000044;
    display: flex;
    flex-direction: column;
    z-index: 3;
}

.side-bar .icon {
    margin-left: 10px;
    width: 25px;
    height: 25px;
}

.side-bar--add {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin-left: 2px;
    font-size: 20px;
    font-weight: bold;
    color: #B2B9C7;
    border-radius: 50%;
    transition: .25s;
    cursor: pointer;
}

.side-bar--add:hover {
    background-color: rgba(255, 255, 255, .2);
}

.side-bar-menu {
    padding: 15px 5px;
}

.side-bar--list {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #B2B9C7;
    margin-bottom: 8px;
}

.side-bar--side li {
    padding: 7px 20px;
    list-style: none;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    color: white;
    cursor: pointer;
    border-radius: 7px;
    color: #B2B9C7;
    transition: .25s;
}

.side-bar--side li:hover {
    background-color: rgba(255, 255, 255, .2);
}

.side-bar--call > span {
    margin-top: 8px;
}

.side-bar--call--div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 3px;
}

.side-bar--call--div > div {
    background-color: #36B37E;
    width: 13px;
    height: 13px;
    border-radius: 20px;
    margin-bottom: 8px;
}

.side-bar--codeshare {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.calendar_codeshare {
    color: white;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    color: #B2B9C7;
    padding-right: 5px;
}

.side-bar--codeshare .icon {
    width: 35px;
    height: 30px;
}

.side-bar--user {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    height: 40px;
    width: 100%;
    font-size: 13px;
    background-color: #494759;
}

.side-bar--user--div  {
    color: white;
    display: flex;
    align-items: center;
    padding: 0 10px;
    gap: 10px;
}

.side-bar--userimg {
    width: 23px;
    height: 23px;
    background-color: orange;
    border-radius: 20px;

}

.side-bar--user > p  {
    color: white;
    margin-left: 5px;
}

.secSideBar-nickname {
    display: block;
    width: 100px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
