.Todo-root{
    height: 100%;
}

.Todo{
    padding-top: 50px;
    padding-left: 250px;
    height: 100%;
}

.Todo-title-div{
    border-bottom: 2px solid gray;
    height: 60px;
    line-height: 60px;
}

.Todo-title{
    margin-left: 1.5em;
    font-size: 2em;
}

.Todo-content-div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: calc(100% - 50px);
}

.Todo-content{
    background-color: #CDCDCD;
    width: 55em;
    height: 55em;
    border-radius: 20px;
    position: relative;
}

.Todo-content-title{
    margin: 20px;
    display: inline-block;
}

.Todo-content-list{
    background-color: white;
    border-radius: 20px;
    width: 520px;
    height: 465px;
    margin: 0 auto;
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding: 10px;
}

.Todo-content-list-line{
    width: 400px;
    margin: 0 auto;
    font-size: 1.5em;
}

.Todo-content-list-line-todo{
    display: inline-block;
    width: 300px;
}

.Todo-content-list-line-complete{
    display: inline-block;
    width: 100px;
    text-align: right;
    color: red;
}

.mytodo-root{
    background-color: white;
    border: 1px solid black;
    width: 800px;
    height: 500px;
    position: absolute;
    z-index: 2;
    padding: 20px;
    font-size: 15px;
    font-family: 'Noto Sans KR', sans-serif;
}
.mytodo-title{
    font-size: 25px;
    padding-bottom: 15px;
    border-bottom: 1px solid lightgray;
}
.mytodo-ul{
    list-style: none;
}
.mytodo-li{
    position: relative;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray;
}
.mytodo-ul li:nth-child(1), li:nth-child(3){
    height: 6em;
}
.mytodo-ul li:nth-child(2){
    height: 10em;
}
.mytodo-span{
    font-size: 17px;
}
.mytodo-input{
    position: absolute;
    right: 0;
    padding: 5px;
    width: 40em;
    height: 4em;
}
.mytodo-textarea{
    position: absolute;
    right: 0;
    width: 40em;
    height: 8em;
    padding: 5px;
}
.mytodo-button-div{
    position: absolute;
    right: 10px;
    margin-top: 30px;
}
.mytodo-button{
    width: 80px;
    height: 30px;
    margin-right: 10px;
    cursor: pointer;
}