.sideAndSide{
    display: flex;
    height: calc(100% - 50px);
}
.calendar_sidebar--chaticon{
    margin-top: 10px;
    width: 30px;
    height: 30px;
}
.calendar-root{
    height: 100%;
}
.calendar_sidebar{
    width: 223px;
    background-color: #15133C;   
}
.paddingyong{
    padding-left: 1em;
}
.calendar_sidebar--list{
    font-size: 18px;
    font-weight: 400;
    color: #B2B9C7;
    padding-left: 10px;
}
.calendar_sidebar--side{
    margin: 0 20px 0 20px;
}
.calendar_sidebar--list > ul > li{
    padding-left: 20px;
    list-style: none;
}
.calendar_sidebar--list--summary {
    list-style: none;

}
.calendar_sidebar--list--summary::-webkit-details-marker {
    display: none;
}
.calendar_sidebar--list--summary::after {
    padding-left: 5px;
    content: "v";
}
.calendar_sidebar--list[open] .calendar_sidebar--list--summary:after {
    content: "^";
}
.calendar_sidebar--call{
    margin-top: 50px;
}
.calendar_sidebar--callimg{
    width: 34px;
    height: 33px;
}
.calendar_sidebar--call > span{
    margin-top: 8px;
}
.calendar_sidebar--call--div{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 3px;
}
.calendar_sidebar--call--div > div{
    background-color: #36B37E;
    width: 15px;
    height: 15px;
    border-radius: 20px;
}
.calendar_sidebar--codeshare{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.calendar_codeshare{
    color: white;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #B2B9C7;
    padding-right: 5px;
}
.calendar_sidebar--codeshareimg{
    width: 46px;
    height: 44px;
}
.calendar_sidebar--product{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}
.calendar_sidebar--product--img{
    width:29px;
    height: 25px;
}
.calendar_sidebar--product--div{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}
.calendar_sidebar--product--div > span{
    font-size: 15px;
    color: #B2B9C7;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
}
.calendar_sidebar--product--div > div{
    width: 20px;
    height: 20px;
    background-color: #F5952D;
    border-radius: 20px;
    color: white;
    text-align: center;
}
.calendar_sidebar--user{
    display: flex;
    flex-direction: row;
    height: 49px;
    align-items: center;
    background-color: #3F3C6D;
    position: absolute;
    bottom: 0;
    padding-right: 1.7em;
}
.calendar_sidebar--user--mic{
    margin-left: 93px;
    width: 13px;
    height: 20px;
}
.calendar_sidebar--user--head{
    margin-right: 10px;
    margin-left: 10px;
    width: 17px;
    height: 14px;
}
.calendar_sidebar--userimg{
    width: 30px;
    height: 30px;
    background-color: orange;
    border-radius: 20px;
}
.calendar_sidebar--user > p {
    color: white;
    margin-left: 5px;
}
.calendar {
    margin-top: 20px;
    width: 1200px;
    height: 700px;
}
