.sidebar{
    display: flex;
    height: calc(100% + 50px);
    width: 100px;
    background-color: #15133C;
    flex-direction: column;
    align-items: center;
    text-align: left;
    border-right: 4px solid #3F3C6D;
    position: relative;
}
.sidebar--square{
    width: 60px;
    height: 60px;
    margin-top: 25px;
    border-radius: 20px;
}
.sidebar--tcp{
    margin-top: 20px;
    width: 50px;
    height: 50px;
}
.sidebar--plus{
    margin-top: 33px;
    width: 23px;
    height: 23px;
}
