header {
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 50px;
    background-color: #15133C;
    display: flex;
    justify-content: center;
    color: white;
    top: 0;
    box-shadow: 5px 5px 5px #00000044;
    line-height: 50px;
}

header 
nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    font-size: 17px;
}

header 
:is(ul, ol, li) {
    list-style: none;
}

header 
:is(ul, ol) {
    display: flex;
    gap: 20px;
}

header
li {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.nav--menus {
    align-items: center;
}

.nav--link {
    padding: 0 20px;
    color: white;
}

.nav--logo {
    height: 40px;
    padding: 5px;
    cursor: pointer;
    vertical-align: middle;
}