.team-header 
nav {
    max-width: 100% !important;
    border-bottom: 4px solid #3F3C6D;
}

.nav--left{
    margin-left: 100px;
}

.team-header--speech {
    width: 30px;
    height: 30px;
}

.team-header--notebook {
    width: 30px;
    height: 30px;
}

.team-header--username {
    color: white;
    font-size: 20px;
}

.team-header--input {
    background-color: #3F3C6D;
    border-radius: 20px;
    width: 300px;
    height: 35px;
    border: none;
    outline: none;
    color: white;
    padding-left: 8px;
}

.team-header--person {
    width: 28px;
    height: 28px;
}

.team-header-todo{
    cursor: pointer;
    margin-right: 3em;
}

.team-header-todo:hover{
    transform: scale(1.1);
}